body{
	h1, h2, h3, h4, h5, h6 {
		clear: both;
		font-family: $_gotham_bold;
	}

	h1 {
		@include fluid-type(32px, 52px);
		-webkit-font-smoothing: antialiased;
    letter-spacing: -1px;
		margin: 0;
	}
	h2 {
		@include fluid-type(30px, 38px);
		-webkit-font-smoothing: antialiased;
    letter-spacing: -1px;
	}
	h3 {
		@include fluid-type(28px, 26px);
		-webkit-font-smoothing: antialiased;
    letter-spacing: -1px;
	}
	h4 {
		@include fluid-type(18px, 18px);
		-webkit-font-smoothing: antialiased;
    letter-spacing: -1px;
	}
}

.large-hero-headline {
	@include fluid-type(32px, 75px);
	-webkit-font-smoothing: antialiased;
	letter-spacing: -1px;
}
