//Interfolio Brand Colors
$_red: #FF6C00;
$_darkblue: #032B43;
$_lightblue: #4791C5;
$_gray: #D6D6D6;
$_black: #181716;
$_white: #FFFFFF;

//Interfolio Brand Colors
$_red_shade: #da5c00;
$_darkblue_shade: #02263c;
$_lightblue_shade: #3f82b1;
$_gray_shade: #c0c0c0;

//Underscores Default Colors
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #FF6C00;
$color__link-visited: #FF6C00;
$color__link-hover: #FF6C00;
$color__text-main: #181716;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
