//Interfolio Brand Fonts
$_gotham_black: "Gotham Black";
$_gotham_black_italic: "Gotham Black Italic";
$_gotham_bold: "Gotham Bold";
$_gotham_bold_italic: "Gotham Bold Italic";
$_gotham_book: "Gotham Book";
$_gotham_book_italic: "Gotham Book Italic";
$_gotham_light: "Gotham Light";
$_gotham_light_italic: "Gotham Light Italic";
$_gotham_medium: "Gotham Medium";
$_gotham_medium_italic: "Gotham Medium Italic";
$_gotham_thin: "Gotham Thin";
$_gotham_thin_italic: "Gotham Thin Italic";
$_gotham_ultra: "Gotham Ultra";
$_gotham_ultra_italic: "Gotham Ultra Italic";
$_gotham_xlight: "Gotham XLight";
$_gotham_xlight_italic: "Gotham XLight Italic";

//Underscores Default Vars
$font__main: $_gotham_book;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
